{% extends 'form.html' %}

{% block ContenForm %}

    <form class="form" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-actions right">
            <button type="button" class="btn btn-warning mr-1">
                <i class="icon-cross2"></i> Cancelar
            </button>
            <button type="submit" class="btn btn-primary">
                <i class="icon-check2"></i> Guardar
            </button>
        </div>
    </form>

{% endblock ContenForm %}