{% extends 'index.html' %}

{% block content %}
    <section id="basic-form-layouts">
        <div class="row match-height ml-3 mt-2">

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="basic-layout-colored-form-control">Editar Usuario</h4> 
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                <!-- <li><a data-action="reload"><i class="icon-reload"></i></a></li> -->
                                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                <!-- <li><a data-action="close"><i class="icon-cross2"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            {% block ContenForm %}
                                <!-- <form class="form">
                                
                                    <div class="form-body">
                                        <h4 class="form-section"><i class="icon-eye6"></i> Acerca del Usuario</h4>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="userinput1">Nombre</label>
                                                    <input type="text" id="userinput1" class="form-control border-primary" placeholder="Name" name="name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="userinput2">Apellido</label>
                                                    <input type="text" id="userinput2" class="form-control border-primary" placeholder="Company" name="company">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="userinput3">Usuario</label>
                                                    <input type="text" id="userinput3" class="form-control border-primary" placeholder="Username" name="username">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="userinput4">Apodo</label>
                                                    <input type="text" id="userinput4" class="form-control border-primary" placeholder="Nick Name" name="nickname">
                                                </div>
                                            </div>
                                        </div>

                                        <h4 class="form-section"><i class="icon-mail6"></i> Informacion de Contacto</h4>

                                        <div class="form-group">
                                            <label for="userinput5">Email</label>
                                            <input class="form-control border-primary" type="email" placeholder="email" id="userinput5">
                                        </div>

                                        <div class="form-group">
                                            <label for="userinput6">Sitio Web</label>
                                            <input class="form-control border-primary" type="url" placeholder="http://" id="userinput6">
                                        </div>

                                        <div class="form-group">
                                            <label>Numero de Contacto</label>
                                            <input class="form-control border-primary" id="userinput7" type="tel" placeholder="Contact Number">
                                        </div>

                                        <div class="form-group">
                                            <label for="userinput8">Perfil</label>
                                            <textarea id="userinput8" rows="5" class="form-control border-primary" name="bio" placeholder="Bio"></textarea>
                                        </div>

                                    </div>

                                    <div class="form-actions right">
                                        <button type="button" class="btn btn-warning mr-1">
                                            <i class="icon-cross2"></i> Cancelar
                                        </button>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="icon-check2"></i> Guardar
                                        </button>
                                    </div>
                                </form> -->
                            {% endblock ContenForm %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}